{% load i18n %}
{% if is_paginated %}
  <div class="w3-row">
    <div class="w3-col s12 m12 12">
        <center>
        <div class="pagination">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
          {% else %}
            <a href="#">Précédente</a>
          {% endif %}
          <div class="number-of-pages">
            {% blocktrans with page_number=page_obj.number total_pages=page_obj.paginator.num_pages %}
              page {{ page_number }} sur {{ total_pages }}
          {% endblocktrans %}
          </div>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
          {% else %}
            <a href="#">Suivante</a>
          {% endif %}
        </div>
        </center>
    </div>
  </div>
{% endif %}

<style>
.pagination {
    display: inline-block;
}

.pagination a {
    background-color: #d2eafd;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #2196f3;
    border-radius: 5px;
    color: white;
}
.number-of-pages {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
</style>
