
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

{% load static %}

{% include "newsletter/Model/Model.html" %}
<!--<html lang="en">-->
<!--<head>-->
<!--	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
<!--	<title>{{ newsletter.title }}: {{ message.title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <p><span style="float: left;"> <img src="{% static "logo.jpg" %}" alt=""> </span></p>-->
<!--    <h1>{{ newsletter.title }}</h1>-->
<!--    <h2>{{ message.title }}</h2>-->
<!--    {% for article in message.articles.all %}-->
<!--        <h3>{{ article.title }}</h3>-->
<!--        -->
<!--        -->
<!--        -->
<!--        <div>-->
<!--        {{ article.text|safe }}-->
<!--        </div>-->
<!--        -->
<!--        {% if article.url %}-->
<!--            <div><a href="{{ article.url }}">Plus d'info</a></div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--    -->
<!--    <ul>-->
<!--        {% if submission.publish %}-->
<!--        <li><a href="https://{{ site.domain }}{{ submission.get_absolute_url }}">Lire le message en ligne</a></li>-->
<!--        {% endif %}-->
<!--        <li><a href="https://{{ site.domain }}{% url "newsletter_unsubscribe_request" newsletter.slug %}">Se désabonner</a></li>-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
