<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Inscription à la newsletter "{{ newsletter.title }}"</title>
</head>
<body>
<p>Cher(ère) {{ subscription.name }},</p>

<p>La paix soit avec vous.<br/>
Vous avez, ou quelqu'un en votre nom a requis une inscription à la newsletter "{{ newsletter.title }}".</p>

<p>Si vous désirez confirmer votre inscription, merci de cliquer sur le lien suivant :
http://{{ site.domain }}{{ subscription.subscribe_activate_url }}</p>

<p>Bien cordialement,<br/>
L'équipe internet de l'ensemble paroissial Saint-Maurice / Saint-Alban<br/>
{{ newsletter.sender }}</p>
</body>
</html>
