{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<style>
img {
    max-width: inherit;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}
</style>

<!-- Page Container -->
<div class="w3-container w3-theme-l3">    

  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-container" style="margin-top:28px">
      {% placeholder "TITRE PRINCIPAL" or %}{% endplaceholder %}
    </div>
    
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "BLOC_1" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "BLOC_2" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "BLOC_3" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "BLOC_4" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "BLOC_5" or %}{% endplaceholder %}
      </div>
    </div>  
  
    </div>
    
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
  
{% endblock CONTENT %}




















