{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<!-- Page Container -->
<div class="w3-container">    
  <!-- The Grid -->
  <center>
  <div class="w3-row" style="margin-top:50px;margin-left: auto;margin-right: auto;">
    
      <div class="w3-container w3-card-2 w3-white w3-round" style="width:1030px;"><br>
<!--        <span class="w3-right w3-opacity">1 min</span>-->
        <h4>CALENDRIER</h4>
        <p>{% placeholder "NOTES" or %}{% endplaceholder %}</p>
        <hr class="w3-clear">
        <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=3ivcog6mb8jkdrkmhsaoefahq8%40group.calendar.google.com&amp;color=%233399FF&amp;ctz=Europe%2FParis" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
      </div>  
  <!-- End Grid -->
  </div>
  </center>

</div>

{% endblock CONTENT %}




















