{% extends "SaintMaurice_Base.html" %}
{% load static cms_tags sekizai_tags menu_tags i18n %}



{% block HEADER_EXTRA %}
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">

  {% block TITLE %}
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
  {% endblock TITLE %}
  <meta name="created" content="{% now "jS M Y h:i" %}" />
  <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
  <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}"/>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% endblock head %}

  {% block css %}
  {% endblock css %}

  {% block extra_css %}
  {% endblock extra_css %}

{% endblock HEADER_EXTRA %}



{% block CONTENT %}

  <div style="z-index:0">
    {% block js %}
    {% endblock js %}
    
    <p style="float: right;margin-top: 60px; margin-right:20px;">
      {% if user.is_authenticated %}
      Bienvenue {{ user.get_username }} &nbsp;&nbsp;|&nbsp;&nbsp;
          <a title="Cliquez ici afin de modifier votre profil" href="/forum/member/profile/edit/">modifier son profil</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      <a title="Cliquez ici pour vous déconnecter" href="/logout">se déconnecter</a>
    </p>

    {% block body %}
      {# The forum content will go in this 'body' block #}
    {% endblock body %}

    {% block extra_js %}
    {% endblock extra_js %}
  </div>

{% endblock CONTENT %}




















