{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<style>
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


#LimitedContent1
{
    height:60px;
    overflow-y:hidden;
}
#LimitedContent2
{
    height:60px;
    overflow-y:hidden;
}
#LimitedContent3
{
    height:60px;
    overflow-y:hidden;
}
#LimitedContent4
{
    height:60px;
    overflow-y:hidden;
}
#LimitedContent5
{
    height:60px;
    overflow-y:hidden;
}

</style>

<script>

  function VoirSuite(BlockID, VoirSuiteID, ReplierID)
  {
    document.getElementById(VoirSuiteID).style.display = 'none';
    document.getElementById(BlockID).style.height='100%';
    document.getElementById(ReplierID).style.display='block';
  }
  function Replier(BlockID, VoirSuiteID, ReplierID)
  {
    document.getElementById(VoirSuiteID).style.display='block';
    document.getElementById(BlockID).style.height='60px';
    document.getElementById(ReplierID).style.display='none';
  }

</script>

<!-- Page Container -->
<div class="w3-container w3-theme-l3">    

  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-container w3-margin-bottom" style="margin-top:35px">
      {% placeholder "TITRE PRINCIPAL" or %}{% endplaceholder %}
    </div>
    
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div id="LimitedContent1" class="w3-container w3-margin-right">
        {% placeholder "BLOC_1" or %}{% endplaceholder %}
      </div>
      <div style="text-align: center;">
        <a href="#" onclick="VoirSuite('LimitedContent1', 'VoirSuite1', 'Replier1');" id="VoirSuite1">Voir la suite...<br/></a>
        <a href="#" onclick="Replier('LimitedContent1', 'VoirSuite1', 'Replier1');" style="display:none;" id="Replier1">Replier &uarr;</a>
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div id="LimitedContent2" class="w3-container w3-margin-right">
        {% placeholder "BLOC_2" or %}{% endplaceholder %}
      </div>
      <div style="text-align: center;">
        <a href="#" onclick="VoirSuite('LimitedContent2', 'VoirSuite2', 'Replier2');" id="VoirSuite2">Voir la suite...<br/></a>
        <a href="#" onclick="Replier('LimitedContent2', 'VoirSuite2', 'Replier2');" style="display:none;" id="Replier2">Replier &uarr;</a>
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div id="LimitedContent3" class="w3-container w3-margin-right">
        {% placeholder "BLOC_3" or %}{% endplaceholder %}
      </div>
      <div style="text-align: center;">
        <a href="#" onclick="VoirSuite('LimitedContent3', 'VoirSuite3', 'Replier3');" id="VoirSuite3">Voir la suite...<br/></a>
        <a href="#" onclick="Replier('LimitedContent3', 'VoirSuite3', 'Replier3');" style="display:none;" id="Replier3">Replier &uarr;</a>
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div id="LimitedContent4" class="w3-container w3-margin-right">
        {% placeholder "BLOC_4" or %}{% endplaceholder %}
      </div>
      <div style="text-align: center;">
        <a href="#" onclick="VoirSuite('LimitedContent4', 'VoirSuite4', 'Replier4');" id="VoirSuite4">Voir la suite...<br/></a>
        <a href="#" onclick="Replier('LimitedContent4', 'VoirSuite4', 'Replier4');" style="display:none;" id="Replier4">Replier &uarr;</a>
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div id="LimitedContent5" class="w3-container w3-margin-right">
        {% placeholder "BLOC_5" or %}{% endplaceholder %}
      </div>
      <div style="text-align: center;">
        <a href="#" onclick="VoirSuite('LimitedContent5', 'VoirSuite5', 'Replier5');" id="VoirSuite5">Voir la suite...<br/></a>
        <a href="#" onclick="Replier('LimitedContent5', 'VoirSuite5', 'Replier5');" style="display:none;" id="Replier5">Replier &uarr;</a>
      </div>
    </div>  
  
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
  
{% endblock CONTENT %}




















