{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<style>
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>

<!-- Page Container -->
<div class="w3-container w3-theme-l3">    

  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-container" style="margin-top:28px">
      {% placeholder "TITRE PRINCIPAL" or %}{% endplaceholder %}
    </div>
    <!-- Left Column -->
    <div class="w3-col s6 m6 6" style="margin-bottom:15px">
    
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
        <!-- Left Column -->
        <div class="w3-col s7 m7 7" style="margin-bottom:15px">
          {% placeholder "ADRESSE" or %}{% endplaceholder %}
        </div>
        <!-- Right Column -->
        <div class="w3-col s5 m5 5"  align="right" style="margin-bottom:15px">
          {% placeholder "IMAGE_MAISON_PAROISSIALE" or %}{% endplaceholder %}
        </div>
      </div>  
    </div>
    
    <!-- Right Column -->
    <div class="w3-col s6 m6 6" style="margin-bottom:15px">
      <div class="w3-card-2 w3-round w3-white w3-center w3-margin-bottom">
        <div class="w3-container" style="margin-bottom:15px">
          <p>{% placeholder "PERMANENCE_ACCUEIL" or %}{% endplaceholder %}</p>
        </div>
      </div>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
  
{% endblock CONTENT %}




















