{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<div class="w3-main" style="margin-top:51px">


  <div class="w3-container">
	  <h1>{% placeholder "TITRE1" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO1" or %}{% endplaceholder %}</p>
  </div>

  <div class="w3-container w3-theme-l3">
	  <h1>{% placeholder "TITRE2" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO2" or %}{% endplaceholder %}</p>
  </div>
  
  <div class="w3-container">
	  <h1>{% placeholder "TITRE3" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO3" or %}{% endplaceholder %}</p>
  </div>

  <div class="w3-container w3-theme-l2">
	  <h1>{% placeholder "TITRE4" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO4" or %}{% endplaceholder %}</p>
  </div>

  <div class="w3-container">
	  <h1>{% placeholder "TITRE5" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO5" or %}{% endplaceholder %}</p>
  </div>

  <div class="w3-container w3-theme-l3">
	  <h1>{% placeholder "TITRE6" or %}{% endplaceholder %}</h1>
	  <p>{% placeholder "INFO6" or %}{% endplaceholder %}</p>
  </div>

{% endblock CONTENT %}




















