{% extends "SaintMaurice_Base.html" %}
{% block CONTENT %}

<div class="w3-main">

  <div class="w3-container w3-theme-l3">
    <center>
      {% block content %}
      {% endblock content %}
    </center>
  </div>

</div>

{% endblock CONTENT %}




















