{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<div class="w3-main" style="margin-top:32px">

  <!-- Row -->
  <div class="w3-theme-l1">
  <div class="w3-row-padding">

    <div class="w3-third">
    <h2>Nous trouver</h2>
    <p>Une permanance d'accueil est assurée à la maison paroissiale (13 rue Saint-Maurice) pour l'ensemble paroissiale Saint-Maurice et Saint-Alban.</p>
       <ul>
        <li>sur place du Lundi au Vendredi : 9h-12h/15h-18h, et le Samedi de 10h à 12h</li>
        <li>par téléphone au 04 78 00 72 61</li>
        <li>par mail paroisse@saintmauricelyon.net</li>
        <li>par internet www.saintmauricelyon.net</li>
      </ul> 
    </div>

    <div class="w3-third" style="margin-top:20px">
    <div class="w3-card-2 w3-white">
  <!--    <img src="img_fjords.jpg" alt="Vernazza" style="width:100%">-->
      <div class="w3-container">
      <h3>Église Saint-Maurice</h3>
  <!--    <h4>Trade</h4>-->
      <p>13 rue Saint-Maurice, 69008 Lyon</p>
      <p>On y accède par :
       <ul>
        <li>le Métro D (station Monplaisir-Lumière)</li>
        <li>le Bus C16</li>
        <li>le Tramway T2</li>
      </ul> </p>
      </div>
      </div>
    </div>

    <div class="w3-third" style="margin-top:20px">
    <div class="w3-card-2 w3-white">
  <!--    <img src="img_lights.jpg" alt="Cinque Terre" style="width:100%">-->
      <div class="w3-container">
      <h3>Église Notre Dame de Saint-Alban</h3>
  <!--    <h4>Trade</h4>-->
      <p>67 Rue Laennec, 69008 Lyon</p>
      </div>
      </div>
    </div>

  </div>
  <p> <i> ATTENTION ! les permanences sont moins nombreuses en périodes de vacances scolaires.</i></p>
  
</div>

  <!-- Google Maps -->
  
  <div id="googleMap" style="width:100%;height:420px;margin-top:-15px"></div>
  
  <script>
  
  function initMap() {
  
  var SaintMaurice = new google.maps.LatLng(45.743669, 4.868094);
  var SaintAlban   = new google.maps.LatLng(45.739394, 4.883276);
  
  var mapProp = {
    center: SaintMaurice,
    zoom: 13,
    scrollwheel: true,
    draggable: true,
    animation: google.maps.Animation.DROP,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker1 = new google.maps.Marker({
    position: SaintMaurice,
    title: 'Église Saint-Maurice',
  });
  var marker2 = new google.maps.Marker({
    position: SaintAlban,
    title: 'Église Saint-Alban',
  });

  marker1.setMap(map);
  marker2.setMap(map);
  }

  </script>

  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDkTespL-JW87hr8Owc-68iiZUOMSMynBk&callback=initMap" async="" defer="defer" type="text/javascript"></script>
{% endblock CONTENT %}





















