{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}

{% block META %}
  <meta name="description" content="{% page_attribute meta_description %}"/>
  <meta name="keywords" content="monplaisir, lumière, église, catholique, paroisse, lyon, saint-maurice, saint-alban, notre dame, laennec, saint, maurice, alban, pretre, yves, longin, curé, marcel, plasse, vicaire, michel, durand, Bruno, Lachnitt, diacre, claude, faivre-duboz, équipe, animation, pastorale, EAP, coordination, CPAE, affaire, économique">
{% endblock META%}

{% block HEADER_EXTRA %}

<style>
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.ColumnCenter {
  text-align: center;
}
</style>

{% endblock HEADER_EXTRA %}


{% block CONTENT %}

<!-- Page Container -->
<div class="w3-container w3-theme-l3">    

  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-container" style="margin-top:28px">
      {% placeholder "TITRE PRINCIPAL" or %}{% endplaceholder %}
    </div>
    
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "EQUIPE_PRETRES_TITRE" or %}{% endplaceholder %}
        <div class="ColumnCenter">
          {% placeholder "EQUIPE_PRETRES" or %}{% endplaceholder %}
        </div>
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "EQUIPE_LAICS" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "EQUIPE_EAP" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "EQUIPE_COORDINATION" or %}{% endplaceholder %}
      </div>
    </div>  
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
      <div class="w3-container">
        {% placeholder "EQUIPE_CONSEIL_PAROISSIAL" or %}{% endplaceholder %}
      </div>
    </div>  
  
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
  
{% endblock CONTENT %}




















