{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>

  <!-- Container -->
  <div class="w3-container w3-padding-64 w3-theme-l5">
    <div class="w3-row">
      <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-blue w3-bottombar">Contactez-nous</span></div>
        <h3>Adresse :</h3>
        <p>13 rue Saint-Maurice, 69008 Lyon.</p>
        <p><i class="fa fa-map-marker w3-text-blue w3-xlarge">&nbsp;</i> Lyon, France</p>
        <p><i class="fa fa-phone w3-text-blue w3-xlarge">&nbsp;</i> 04 78 00 72 61</p>
        <p><i class="fa fa-envelope-o w3-text-blue w3-xlarge">&nbsp;</i> paroisse@saintmauricelyon.net</p>
      </div>
      <div class="w3-col m7 w3-text-blue">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" method="post" action="/envoicourriel/">{% csrf_token %}
          <div>      
            <label class="w3-label">Nom<span class="required">*</span> :</label>
            <input type="text" id="fname" name="Nom">
          </div>
          <div>      
            <label class="w3-label">Objet :</label>
            <input type="text" id="fname" name="Objet">
          </div>  
          <div>      
            <label class="w3-label">Courriel :</label>
            <input type="text" id="fname" name="Courriel">
          </div>  
          <div>      
            <label class="w3-label">Message :</label>
          <textarea name="Message" class="inputtextarea" rows="11" cols="45" style="width:100%;height:100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;"></textarea>
          </div>  
          
          <div class="w3-group w3-right">      
            <div class="g-recaptcha" data-sitekey="6LeUQA4UAAAAAPOGlsRya9Y4Yw3Ra-b73624wrwS"></div>
            <button type="submit" class="w3-btn w3-blue">Envoyer</button>
          </div>  
        </form>
      </div>
    </div>
  </div>

{% endblock CONTENT %}



















