{% extends "SaintMaurice_Base.html" %}
{% load cms_tags static sekizai_tags i18n %}

{% load photologue_tags %}
{% load i18n %}

{% block HEADER_EXTRA %}

<style>
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
</style>

{% endblock HEADER_EXTRA %}
 
{% block CONTENT %}
<!-- Navigation -->

<!-- Page Container -->
<div class="w3-container w3-theme-l3" style="padding-top:50px;">    

  <h1>Galeries de photos</h1>
  <!-- The Grid -->
  <div class="w3-row">
    
    <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom">
<!--      <nav class="navbar navbar-default" role="navigation">-->

<!--      </nav>-->
      <nav id="primary_nav_wrap">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul style="padding-left:20px;padding-top:20px;padding-bottom:10px;">
          <li class="w3-hide-small w3-hover-white" style="opacity: 1;">
            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
              Galeries <b class="caret"><i class="fa fa-caret-down"></i></b>
            </a>
            <ul>
                <li class="w3-hover-blue w3-hover-text-white w3-white w3-card-4" style="opacity: 1;">
                    <a href="{% url 'photologue:pl-gallery-archive' %}">Vue par dates</a>
                </li>
                <li class="w3-hover-blue w3-hover-text-white w3-white w3-card-4" style="opacity: 1;">
                    <a href="{% url 'photologue:gallery-list' %}">Vue par listes</a>
                </li>
            </ul>
          </li>
          <li class="w3-hide-small w3-hover-white" style="opacity: 1;">
            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
              Photos <b class="caret"><i class="fa fa-caret-down"></i></b>
            </a>
            <ul>
                <li class="w3-hover-blue w3-hover-text-white w3-white w3-card-4" style="opacity: 1;">
                    <a href="{% url 'photologue:pl-photo-archive' %}">Vue par dates</a>
                </li>
                <li class="w3-hover-blue w3-hover-text-white w3-white w3-card-4" style="opacity: 1;">
                    <a href="{% url 'photologue:photo-list' %}">Vue par listes</a>
                </li>
            </ul>
          </li>
        <ul>
<!--        <div class="collapse navbar-collapse navbar-ex1-collapse">-->
<!--          <ul class="nav navbar-nav">-->
<!--            <li class="home"><a href="/">Home</a></li>-->
<!--            <li class="galleries dropdown">-->
<!--            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                    Galeries<b class="caret"></b>-->
<!--                </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li class="sub-page"><a href="{% url 'photologue:pl-gallery-archive' %}">Vue par dates</a></li>-->
<!--              <li class="sub-page"><a href="{% url 'photologue:gallery-list' %}">Vue par listes</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--            <li class="photos dropdown">-->
<!--            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                    Photos<b class="caret"></b>-->
<!--                </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li class="sub-page"><a href="{% url 'photologue:pl-photo-archive' %}">Vue par dates</a></li>-->
<!--              <li class="sub-page"><a href="{% url 'photologue:photo-list' %}">Vue par listes</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          </ul>-->
<!--        </div>-->
      </nav>
      <hr style="clear:left;">
      <div class="w3-container" style="padding-top:0px;">    
        {% block content %}{% endblock %}
        <br/>
      </div>  
    </div>  
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>

<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/project.js"></script>

{% endblock CONTENT %}













