{% extends "SaintMaurice_Base.html" %}
{% load cms_tags staticfiles sekizai_tags i18n %}
{% block CONTENT %}

<style>
img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    padding-left: 15px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<!-- Page Container -->
<div class="w3-container w3-theme-l3">    

  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-container w3-margin-bottom" style="margin-top:35px">
      {% placeholder "TITRE PRINCIPAL" or %}{% endplaceholder %}
    </div>
      
    <div class="w3-col s6 m6 6">
      <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
        <div class="w3-container">
          {% placeholder "CHAPELETS" or %}{% endplaceholder %}
        </div>
      </div>  
    </div>
      
    <div class="w3-col s6 m6 6">
      <div class="w3-card-2 w3-white w3-round w3-margin-right w3-margin-bottom"><br>
        <div class="w3-container">
          {% placeholder "PRIERE_PAROLE" or %}{% endplaceholder %}
        </div>
      </div>  
    </div>
  
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
  
{% endblock CONTENT %}




















