<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        
{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block branding %}{% endblock %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% trans "Newsletter" %}{% endblock title %}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        {% block header %}
        {% endblock header %}
    </head>
    

    <body>
      {% block content %}
      <div id="content-main">
          {% block body %}
          {% endblock body %}
      </div>
      {% endblock %}
    </body>
</html>


