{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter" %} "{{ newsletter.title }}" : validation d'inscription {% endblock title %}

{% block body %}
    <h1>{% trans "Newsletter" %} "{{ newsletter.title }}" validation d'inscription</h1>

    <p>Votre inscription a été validée avec succès.</p>
{% endblock body %}
