{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter" %} "{{ newsletter.title }}" : validation de désinscription{% endblock title %}

{% block body %}
    <h1>{% trans "Newsletter" %} "{{ newsletter.title }}" validation de désinscription</h1>

    <p>{% trans "You have successfully been unsubscribed." %}</p>
{% endblock body %}
