{% extends "newsletter/common.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter" %} "{{ newsletter.title }}" validation d'inscription{% endblock title %}

{% block body %}
    <h1>{% trans "Newsletter" %} "{{ newsletter.title }}" validation d'inscription</h1>

    <form enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input id="id_submit" name="submit" value="{% trans "Activate" %}" type="submit" /></p>
    </form>
{% endblock body %}
