{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}Toutes les galeries{% endblock %}

{% block content %}

    <div class="w3-col s12 m12 12">
        <h1 class="page-header">Toutes les galeries</h1>
    </div>

    {% if object_list %}
        {% for gallery in object_list %}
            <div class="w3-col s12 m12 12">
                <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
                <p class="muted"><small>Publiée le {{ gallery.date_added }}</small></p>
                {% if gallery.description %}<p>{{ gallery.description|safe }}</p>{% endif %}
                {% for photo in gallery.sample %}
                    <a href="{{ photo.get_absolute_url }}">
                         <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="w3-col s12 m12 12">Aucune galerie trouvée.</div>
    {% endif %}

    {% include "photologue/includes/paginator.html" %}
    
{% endblock %}
