{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_year=year|date:"Y" %}galeries pour {{ show_year }}{% endblocktrans %}{% endblock %}

{% block content %}

<div class="row col-lg-12">
  <h1 class="page-header">{% blocktrans with show_year=year|date:"Y" %}galeries pour {{ show_year }}{% endblocktrans %}</h1>
</div>

<div class="w3-row">

  <aside class="w3-col s2 m2 2">

    <h4>Filtrer par mois</h4>
    <ul>
      {% for date in date_list %}
        <li><a href="{% url 'photologue:gallery-archive-month' date.year date|date:"m"|lower %}">{{ date|date:"F" }}</a></li>
      {% endfor %}
    </ul>

  </aside>

  <main class="w3-col s10 m10 10">

    {% if object_list %}
      {% for gallery in object_list %}
          {% include "photologue/includes/gallery_sample.html" %}
        {% endfor %}
    {% else %}
      <p>Aucune galerie trouvée</p>
    {% endif %}

      <div><a href="{% url 'photologue:pl-gallery-archive' %}" class="btn btn-default">Voir toutes les galeries</a></div>

  </main>

</div>

{% endblock %}
