{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_day=day|date:"d F Y" %}galeries pour le {{ show_day }}{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="w3-row w3-col s12 m12 12">
        <h1 class="page-header">{% blocktrans with show_day=day|date:"d F Y" %}galeries pour le {{ show_day }}{% endblocktrans %}</h1>
    </div>

    <div class="w3-row w3-col s12 m12 12">
        {% if object_list %}
            {% for gallery in object_list %}
                {% include "photologue/includes/gallery_sample.html" %}
            {% endfor %}
        {% else %}
            <p>Aucune galerie trouvée</p>
        {% endif %}
    </div>
    
    <div><a href="{% url 'photologue:gallery-archive-month' day.year day|date:"m"|lower %}" class="btn btn-default">Voir toutes les galeries du mois</a></div>

{% endblock %}
