{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}Dernières galeries de photos{% endblock %}

{% block content %}

    <div class="w3-row w3-col s12 m12 12">
        <h1 class="page-header">Dernières galeries de photos</h1>
    </div>

	<div class="w3-row">
	
		<aside class="w3-col s5 m2 1">

			<h4>Filtrer par année</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'photologue:pl-gallery-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="w3-col s7 m10 11">
			
			{% if latest %}
			    {% for gallery in latest %}
			    	{% include "photologue/includes/gallery_sample.html" %}
			    {% endfor %}
			{% else %}
			    <p>Aucune galerie trouvée.</p>
			{% endif %}
			
		</main>

	</div>
	
{% endblock %}
