{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_month=month|date:"F Y" %}galeries pour {{ show_month }}{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="w3-row w3-col s12 m12 12">
        <h1 class="page-header">{% blocktrans with show_month=month|date:"F Y" %}galeries pour {{ show_month }}{% endblocktrans %}</h1>
    </div>

    <div class="w3-row">

        <aside class="w3-col s2 m2 2">

            <h4>Filtrer par jour</h4>
            <ul>
            {% for date in date_list %}
                <li><a href="{% url 'photologue:gallery-archive-day' date.year date|date:"m"|lower date.day %}">{{ date|date:"d" }}</a></li>
            {% endfor %}
            </ul>

        </aside>

        <main class="w3-col s10 m10 10">

            {% if object_list %}
                {% for gallery in object_list %}
                    {% include "photologue/includes/gallery_sample.html" %}
                {% endfor %}
            {% else %}
                <p>Aucune galerie trouvée</p>
            {% endif %}

            <div><a href="{% url 'photologue:pl-gallery-archive-year' month.year %}" class="btn btn-default">Voir toutes les galeries de l'année</a></div>

        </main>

    </div>

{% endblock %}
