{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_year=year|date:"Y" %}Photos pour le {{ show_year }}{% endblocktrans %}{% endblock %}


{% block content %}

    <div class="w3-row w3-col s12 m12 12">
        <h1 class="page-header">{% blocktrans with show_year=year|date:"Y" %}Photos pour le {{ show_year }}{% endblocktrans %}</h1>
    </div>

	<div class="w3-row">

		<aside class="w3-col s2 m2 2">

			<h4>Filtrer par mois</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'photologue:photo-archive-month' date.year date|date:"m"|lower %}">{{ date|date:"F" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="w3-col s10 m10 10">

			{% if object_list %}
				<div class="row col-lg-12">
				    {% for photo in object_list %}
				        <a href="{{ photo.get_absolute_url }}">
				             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
				        </a>
				    {% endfor %}
				</div>
			{% else %}
				<p>Aucune photo trouvée.</p>
			{% endif %}

		    <div><a href="{% url 'photologue:pl-photo-archive' %}" class="btn btn-default">Voir toutes les photos</a></div>

		</main>

	</div>

{% endblock %}




