{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}Dernières photos{% endblock %}

{% block content %}

    <div class="w3-col s12 m12 12">
        <h1 class="page-header">Dernières photos</h1>
    </div>

	<div class="row">
		
		<aside class="w3-col s2 m2 2">

			<h4>Filtrer par année</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'photologue:pl-photo-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="w3-col s10 m10 10">
			
			{% if latest %}
			    {% for photo in latest %}
			        <a href="{{ photo.get_absolute_url }}">
			             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
			        </a>
			    {% endfor %}
			{% else %}
				<p>Aucune photo trouvée.</p>
			{% endif %}

		</main>

	</div>

{% endblock %}


