{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}Toutes les photos{% endblock %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">Toutes les photos</h1>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
		    {% for photo in object_list %}
		        <a href="{{ photo.get_absolute_url }}">
		             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}
		</div>
	{% else %}
		<div class="row">Aucune photo trouvée.</div>
	{% endif %}

	{% include "photologue/includes/paginator.html" %}

{% endblock %}
